.Main
  .Main-header
    .Main-header__title
      LowcBoard
      (ロカボード)
    .Main-header__menu
      .Main-header__fooddb
        %a{:href => "/foods"} 食品DB参照
      -# .Main-header__fooddb
      -#   %a{:href => "/foods/new"} 食品DB登録 
      - if user_signed_in?
        .Main-header__menulogout
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        .Main-header__menupost  
          %a{:href => "/posts/new"} ボード投稿
      - else
        .Main-header__useroutmenu
          .Main-header__menulogin
            = link_to "ログイン", new_user_session_path
          .Main-header__menusignup
            = link_to "新規登録", new_user_registration_path




  .Main-index
    -@posts.each do |post|
      .Main-index-post
        .Main-index-post__daytime
          =post.created_at
          =post.time
        .Main-index-post__foodcarb
          %ul.Main-index-post__food  
            %li= "食品名：#{post.foodname1}"
            %li= "食品名：#{post.foodname2}"
            %li= "食品名：#{post.foodname3}"
            %li= "食品名：#{post.foodname4}"
            %li= "食品名：#{post.foodname5}"
          %ul.Main-index-post__carb  
            %li= "#{post.carb1}g" 
            %li= "#{post.carb2}g"  
            %li= "#{post.carb3}g" 
            %li= "#{post.carb4}g" 
            %li= "#{post.carb5}g" 
          .Main-index-post__totalcarb 
            = "糖質合計#{post.total}g" 
        .Main-index-post__name
          %h6= "投稿者：#{post.user.name}"   
        .Main-index-post__memo 
          = "MEMO:#{post.memo}"     
              
          
          
        




